<html>
  <head>
      <meta charset="utf8">
      <title>Mi Curriculum Vitae</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
<body>
    <header>
        <img src="/stylesheets/YO-removebg-preview.png"alt="Nibci programadora">
        <div>
<h1>Información Personal</h1>
        <h2>NIBCI MERCEDES GABRIELA PINTO INFANTE</h2>
        <h3>Cedula: 29.689.267</h3>
        <h3>Teléfono: 04241239791</h3>
        <h3>Correo: pinto.gabriela31@gmail.com</h3>
        </div>
        
    </header>
    <section>
        <article>
            <h2>Objetivos</h2>
            <h3>Ejecutar las actividades laborales teniendo en cuenta el uso de las diferentes 
                herramientas y conocimientos adquiridos en el transcurso de la formación académica, enfocándome siempre en la integración de estrategias innovadoras. De la misma forma, asumir nuevos retos y dispuesta a compartir con un equipo de trabajo de alto desempeño a fin de alcanzar la calidad y excelencia laboral.
                </h3>
                <h2>Destrezas</h2>
            <h3>Tengo una gran capacidad de adaptación, tengo una gran facilidad para resolver problemas, soy ágil, doy confianza al cliente, soy totalmente capaz de realizar cualquier trabajo. </h3>
            <h2>Formación académica</h2>
            <h4>BACHILLER EN CIENCIAS • JULIO 2019 • MORALES MARCANO</h4>
            <h2>Habilidades</h2>
            <ul>
                <li>
                    <p>Tengo experiencia en manejo de sistemas computarizados Windows, Power Point, Excel</p>
                    <p>•   Conocimiento sobre el manejo de todos los equipos de oficina.</p>
                    <p>•   Redacción, Caligrafía y Ortografía</p>
                    <p>•   Habilidad de trabajo</p>
                    <p>•   Capacidad de retención rápida</p>
                    <p>•   Atención al cliente</p>
                    <p>•   Vendedora</p>
                </li>
            </ul>
           
        <h3> <img class="a" src="Instagrammm.png"  width="30px" height="30px"> Instagram: <a href="https://instagram.com/nibcip">@nibcip </a></h3>
            <h3> <img class="b" src="Twitter.png"  width="30px" height="30px"> Twitter: <a href="https://twitter.com/nibcip">@nibcip </a></h3>
            <h3> <img class="c" src="linkedin.png"  width="30px" height="30px"> Linkedin: <a href="https://pe.linkedin.com/in/nibci-pinto-0216b721a">@nibcipinto </a></h3>
        </article>
        <aside>
            <h2>Experiencia Laboral</h2>
            <ul>
                <li>
                    <b>SECRETARIA• INMOBILIARIA • FEBRERO 2021 – MAYO 2021</b> 
                </li>
            </ul>
            <p>Realizaba documentos y manuscritos para la empresa, atendía cada cliente que deseaba comprar departamentos, realizaba publicidad para la empresa en redes sociales, era mi trabajo mas importante en la empresa realizar marketing.</p> 
            <ul>
                <li>
                    <b>VENDEDORA• EMPRESA CLARO • SEPTIEMBRE 2019 – NOVIEMBRE 2019</b>
                </li>
            </ul>
                <p>Utilizaba el programa que tienen para vender chips y teléfonos celulares, llegue a ser la encargada de la tienda, y la cajera, hacia inventarios de los teléfonos que llegaban, y hacia cursos de cómo utilizar el programa del pc y del móvil.</p>
                <ul>
                    <li>
                        <b>VENDEDORA • EMPRESA H&M • JUNIO 2021 – OCTUBRE 2021</b>  
                    </li>
                </ul>
                <p>Fui vendedora de ropa, Atendía a los clientes que tenían dudas con los precios y las tallas de la ropa, acomodaba la mercancía que llegaba por secciones, entre muchas otras ocupaciones.</p>
                <h2>Conocimiento</h2>
                <p>HTML</p>
                <progress value="30" max="100"></progress>
                <p>CSS</p>
                <progress value="40" max="100"></progress>
                <p>Javascript</p>
                <progress value="10" max="100"></progress>
        </aside>
    </section>
</body>
</html>