<!DOCTYPE html>
<html>
  <head>
    <title>Programacion II</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <li> Nombre: Nibci Pinto</li>
    <br> 
    <li>Cedula: 29.689.267</li>
    <br>
    <li>Sección: 1</li>
  </body>
</html>
